
.aboutSection, .featureSection, .dashboardSection, .reviewSection, .signupSection
{
	padding:5px;
	margin:2%;
	margin-left:12%;
	margin-right:12%;
	text-align: center;
	background-color: #dc3545;
	border:3px solid #f55b5b;
	border-radius: 5PX;
	color:white;
} 

.aboutPanel, .featurePanel, .dashboardPanel, .reviewPanel, .signupPanel
{
	display:none;
}

.slideSection img
{
    display: none;
    padding-bottom: 2%;
    height: 40%%;
    width:75%;
    border-radius: 10px;
    filter:brightness(70%);
}

.slideSection img.active
{
	display: block;
}

#leftButton, #rightButton
{
	background: none;
	border:none;
	margin:1%;
	color: whitesmoke;
	position:absolute;
	top:40%;
}

#leftButton
{
	left:12%;
}

#rightButton
{
	right:12%;
}

.pageinImage
{
	display:inline; 
	cursor:pointer;
}

ul
{
	display:flex;
	justify-content: center;
	background-color: white;
}
ul li
{
	position: relative;
	list-style: none;
	margin: 20px;
	transition:0.4s;
}
ul li .pageinImage
{
	width:50px;
	height: 25px;
	text-align: center;
}